<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOC UPLOAD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
.form-area {
    height: 500px;
    border: dashed #ccc 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
    </style>
</head>
<body class="bg-secondary bg-gradient">
    <div class="container">

    <h1 class="h1 m-5 text-light">SuS Alert</h1>
    <div class="form-area container-fluid">
        <form action="/checks" method="POST" enctype="multipart/form-data">
        
            <div class="row text-center mb-3">
                <div id='uploadFile' class="col-8">
                    <input type="file" id="fileUpload" name="file" class="custom-file-input" style="width:120%"/>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-6">
                    <select class="form-select " aria-label="Default select example">
                        <option selected>Select Document Type</option>
                        <option value="1">Hospital Receipt</option>
                        <option value="2">Fir Scanned Copy</option>
                        <option value="3">Amazon Receipt</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <input type="submit" class="btn btn-primary"/> 
            </div>
        </form>
    </div>
    
    <script>

    </script>
</body>
</html>